.intro-container {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./images/jonkoping.jpg');
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-container h1 {
    color: #fff!important;
    padding: 0.4em!important;
}

.ui.black.message {
    margin: 0;
}

#products {
    padding: 3em;
}

.product-description {
    max-width: 35em;
    margin: 0 auto!important;
}

.antenna-container {
    background-color: #151515;
    height: 10em;
    margin-bottom: 2em;
}

.ui.grid{
    padding: 0 !important;
    }
.pushable.segment{
    margin: 0 !important;
}

.logo {
    height: 2.6em;
    width: 10em!important;
}

footer {
    background-color: rgb(29, 102, 211);
    height: 10em;
}